/* Basic reset for body margin and padding */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Flexbox setup for body to center all content */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the text vertically and horizontally */
    width: 200px; /* Width of the circle */
    height: 200px; /* Height of the circle, should be the same as width */
    background-color: #a885d8; /* Light purple background color */
    color: white; /* Text color */
    border-radius: 50%; /* Makes the div a circle */
    font-family: 'Arial', sans-serif;
    font-size: 100px; /* Increased font size for better visibility */
    font-weight: bold;
    margin: 20px auto; /* Centering the circle horizontally */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Text shadow for better readability */
    box-shadow: 0 0 20px rgba(0,0,0,0.15); /* Outer shadow for a 3D effect */
}

